<footer class="footer bg-dark py-4 mt-auto "> <!--mtt-auto and body has height 100vh (vh-100) => so these two make footer at bottom-->
    <div class="container text-center">
        <span class="text-muted"> &copy; campIt</span>
    </div>
</footer>